" _vimrc  is the config files for gvim and vim on windows 

" Set shift width to 4 spaces.
set shiftwidth=4

" Set tab width to 4 columns.
set tabstop=4

" set auto indent
set autoindent  

" Highlight cursor line underneath the cursor horizontally.
set cursorline

" Highlight cursor line underneath the cursor vertically.

" Ignore capital letters during search.
set ignorecase

" gets the relative number
set rnu 

set columns=100 lines=50

" set the color scheme
colorscheme evening

" MAPPINGS --------------------------------------------------------------- {{{

" map_mode <what_you_type> <what_is_executed>
" nnoremap – Allows you to map keys in normal mode.
" inoremap – Allows you to map keys in insert mode
" vnoremap – Allows you to map keys in visual mode.

inoremap jj <esc>
nnoremap Q <c-v>

nmap <C-O> :vsc View.NavigateBackward<CR>
nmap <C-I> :vsc View.NavigateForward<CR>
vmap <Tab> >gv
vmap <S-Tab> <gv

" gvim configuration
"start maximised
au GUIEnter * simalt ~x

" plugin configuration 

call plug#begin(has('nvim') ? stdpath('data') . '/plugged' : '~/.vim/plugged')

" Declare the list of plugins.
Plug 'tpope/vim-sensible'
Plug 'tpope/vim-surround'
Plug 'junegunn/seoul256.vim'
Plug 'autozimu/LanguageClient-neovim', {
    \ 'branch': 'next',
    \ 'do': 'powershell -executionpolicy bypass -File install.ps1',
    \ }

" List ends here. Plugins become visible to Vim after this call.
call plug#end()


